.Admin {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 50px;
}

.AdminPrimary,
.AdminSecondary,
.AdminContacts {
    padding: 30px;
    background-color: rgba(9, 10, 17, .5);
    height: fit-content;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.AdminContacts {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.AdminPrimary {
    width: 50%;

}

.AdminSecondary {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: fit-content;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.LoginContainer {
    background-color: #1976d2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Login input {
    border-radius: 15px;
    padding: 10px;
}

.Login button {
    border-radius: 15px;
    font-weight: bold;
    padding: 10px 20px;
    width: fit-content;
}

.Login h2 {
    text-align: center;
    margin-bottom: 10px;
}

.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Skill,
.Activity,
.Language {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 10px;

}

.Exp,
.Training {
    padding: 10px 0;
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
}

.Training span:nth-of-type(1),
.Exp span:nth-of-type(1) {
    font-weight: bold;
}

#imageContainer {
    display: flex;
    justify-content: center;

}

#profileImg {
    width: 200px;
    border-radius: 50%;
}

button {
    border-radius: 5px;
    color: orange;
    padding: 3px 3px;
}

footer {
    padding: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: #1976d2;
}

.LoadingScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}